
:root {
  --background: #ffffff;
  --foreground: #171717;
  --xxs: 0.44rem;
  --xs: 0.75rem;
  --s: 1.0rem;
  --md: 1.3rem;
  --l:1.9rem;
  --xl:2.5rem;
  --xxl:4.2rem;
  --xxxl:5.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a,
li {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--md);
  line-height: 1.5;
  
  text-decoration: none;
 
}

  strong {
    font-weight: 500;
    font-style: normal;
  }



ul {
  list-style: none;
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  font-display: swap;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

