

.textBlock {
    width: 1px;
    min-width: 100%;
    }
    /* Text Block */
    .textBlock {
      
      position: relative;
      background-color: rgba(255, 255, 255, 0.8);
      color: #282525;
      padding: 1rem;
      overflow: hidden; /* Ensures only visible content is shown */
      text-overflow: ellipsis;
      max-height: 10vh; /* Default height for collapsed state */
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      z-index: 5;
      transition: max-height 0.9s ease, opacity 0.4s ease; /* Smooth transition */

    }
    .textBlock p{
      font-size: clamp(0.8rem, 1.2vh, 1.8rem); /* Responsive scaling */
    
    }
    
    
    /* Expanded Text Block */
    .textBlock.expanded {
    position: absolute;
    bottom: 0;
      left: 0;
      right: 0;
      max-height: 90vh; /* Smoothly expands to this height */
      overflow-y: auto; /* Adds scrolling if content exceeds the container */
      background-color: rgba(255, 255, 255, 0.9); /* Slightly opaque for readability */
    }
    
    /* Expand/Collapse Button */
    .expandButton {
      position: absolute;
      right: 0px;
      top:10px;
      background: none;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      color: #333;
      display: block; /* Hidden by default */
      z-index: 20;
    }
    
    
    
    /* Mobile adjustments */
    @media (max-width: 768px) {
    
    
      .textBlock {
        max-height: 20vh; /* Default height for collapsed state */
      
      }
      .textBlock p{
        font-size: var(--s);
      }
      
      
      
    }

  